@model IEnumerable<Smed.Models.Consulta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Med"))
            {
                 @Html.ActionLink("Edit", "Edit", new { id = item.ConsultaId })
            }
            |
            @Html.ActionLink("Details", "Details", new { id = item.ConsultaId }) |
            @if (Request.IsAuthenticated && User.IsInRole("Med"))
            {
                 @Html.ActionLink("Delete", "Delete", new { id = item.ConsultaId })
            }
        </td>
    </tr>
}

</table>
