@model Smed.Models.Paciente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechanac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechanac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugarnac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugarnac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiposangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiposangre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PacienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
